*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    background-color: black;
}

.DVD-logo{
    animation: DVD-logo-animation 15s linear infinite;
    animation-fill-mode: forwards;
    position: absolute;
    
}

@keyframes DVD-logo-animation{
    0%,100%{
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: red;
    }

    9% {
      top: 15%;
      left: 0;
      transform: none;
      background-color: yellow;
    }

    13% {
      top: 0;
      left: 15%;
      transform: none;
      background-color: papayawhip;
    }

    27% {
      top: 45%;
      left: 100%;
      transform: translateX(-100%);
      background-color: green;
    }

    36% {
      top: 100%;
      left: 15%;
      transform: translateY(-100%);
      background-color: blue;
    }

    40% {
      top: 85%;
      left: 0;
      transform: translateY(-100%);
      background-color: orange;
    }

    54% {
      top: 15%;
      left: 100%;
      transform: translateX(-100%);
      background-color: orangered;
    }

    66% {
      top: 0;
      left: 85%;
      transform: translateX(-100%);
      background-color: white;
    }

    75% {
      top: 45%;
      left: 0;
      transform: none;
      background-color: aqua;
    }

    81% {
      top: 100%;
      left: 85%;
      transform:translate(-100%,-100%);
      background-color:chocolate;
    }

    88% {
        top: 85%;
        left: 100%;
        transform:translate(-100%,-100%);
        background-color:gray;
    }
}
